<?
##################### SIMPLE CURRENCY #########################
define("STARDUST_SERVICE_URL","http://localhost:8007/SimpleCurrencyWebUI"); // Change this to your server url for the WebUI
$banker_id = '00000000-0000-0000-0000-000000000000'; // Change this to the UUID of your banker id in-world

$incompletePurchaseEmailandErrors = 'you@yourdomain.com'; // Change this to your email address where error messages should go to

$payPalURL = 'www.sandbox.paypal.com';
$auth_token = "eK2d7-QOTrnwhqaJI2n-SpJ98p5Zb6V62lNekl8BdH-1-Q_PUCwzaDvokeW"; // Change this to the token you created at http://www.paypal.com
$payPalAccount = 'your_paypal_account_email@gmail.com'; // Change this to your paypal email address
$notifyURL = 'http://localhost/app/economy/paypal_verify.php'; // Change localhost to the server url for your server
$returnURL = 'http://localhost/index.php?page=paypalcomplete'; // change localhost to the server url for your server

$AmountAdditionPerfectage = 0.0291;

##################### WARNING #########################
// Do not change anything below this comment 
// unless you know what you are doing.
#######################################################

function generateGuid($include_braces = false) {
	if (function_exists('com_create_guid')) {
		if ($include_braces === true) {
			return com_create_guid();
		} else {
			return substr(com_create_guid(), 1, 36);
		}
	} else {
		mt_srand((double) microtime() * 10000);
		$charid = strtoupper(md5(uniqid(rand(), true)));
	   
		$guid = substr($charid,  0, 8) . '-' .
				substr($charid,  8, 4) . '-' .
				substr($charid, 12, 4) . '-' .
				substr($charid, 16, 4) . '-' .
				substr($charid, 20, 12);
 
		if ($include_braces) {
			$guid = '{' . $guid . '}';
		}
   
		return $guid;
	}
}

function simplecurrency_do_post_request($found) {
    $params = array('http' => array(
            'method' => 'POST',
            'content' => implode(',', $found)
            ));
    if ($optional_headers !== null) {
        $params['http']['header'] = $optional_headers;
    }
    $ctx = stream_context_create($params);
    $timeout = 15;
    $old = ini_set('default_socket_timeout', $timeout);
    $fp = @fopen(SIMPLECURRENCY_SERVICE_URL, 'rb', false, $ctx);
    ini_set('default_socket_timeout', $old);
    if ($fp) {
        stream_set_timeout($fp, $timeout);
        stream_set_blocking($fp, 3);
    } else
        //throw new Exception("Problem with " . SIMPLECURRENCY_SERVICE_URL . ", $php_errormsg");
        return false;
    $response = @stream_get_contents($fp);
    if ($response === false) {
        //throw new Exception("Problem reading data from " . SIMPLECURRENCY_SERVICE_URL . ", $php_errormsg");
    }
    return $response;
}
?>